/* #47.1
a {
	color: red;
}
a:hover {
	text-decoration: none;
}
*/
/* Селектор выбирает ссылку, которая во всех состояниях будет красного цвета и подчеркнута, но при наведении линия подчеркивания будет пропадать. */

/* #47.2
a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}
*/
/* Селектор выбирает все теги a с классом zzz и перекрашивает их в красный, и при наведении на них линия подчеркивания будет пропадать. */

/* #47.3
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}
*/
/* Селектор выбирает все теги a с классом zzz, которые являются прямыми потомками тега старше, у которого id = "block" и перекрашивает их в красный цвет, а при наведении пропадает линия подчеркивания. */

/* #47.4
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}
*/
/* Селектор выбирает все теги a с классом zzz, который являются потомками старшего тега с классом block и перекрашивает их в красный цвет, а линия подчеркивания при наведении пропадает. */