/* Task 1
p {
    font: 13px/20px "Times New Roman";
}
*/

/* Task 2
p {
    font: bold 40px Arial;
	width: 300px;
	color: red;
}
*/

/*
p {
    font: bold italic 40px/60px Arial;
	text-indent: 50px;
}
*/