/* #38.1
.bbb.zzz {
	color: red;
}
*/

/* #38.2
h2.bbb.zzz {
	color: red;
}
*/

/* #38.3
#elem.bbb {
	color: red;
}
*/

/* #38.4
#elem.bbb.zzz {
	color: red;
}
*/

/* #38.5
h2#elem.bbb {
	color: red;
}
*/

/* #38.6
h2.zzz {
	color: red;
}
*/

/* #38.7
h2 .zzz {
	color: red;
}
*/

/* #38.8
.bbb.zzz {
	color: red;
}
*/

/* #38.9
.bbb .zzz {
	color: red;
}
*/

/* #38.10
.bbb.zzz.xxx {
	color: red;
}
*/

/* #38.11
.bbb .zzz.xxx {
	color: red;
}
*/

/* #38.12
.bbb.zzz .xxx {
	color: red;
}
*/

/* #38.13
.bbb .zzz .xxx {
	color: red;
}
*/

/* #38.14
#elem.bbb {
	color: red;
}
*/

/* #38.15
#elem .bbb {
	color: red;
}
*/