/* #34.1 */
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.size {
    font-size: 25px;
}

.family {
    font-family: Arial;
}

.custom {
    color: blue;
}
