/* #45.1 and #45.2 and #45.3 */
/* Просто всплывающее окошко. */
/* На атрибут title невозможно повесить какие-либо теги CSS, поэтому селектора как такового сделать не получилось( */

/* #45.1
[title] {
    color: red;
}
*/

/* #45.2
p[title] {
    color: red;
}
*/

/* #45.3
a[title*="Привет"] {
    color: red;
}
*/

/* #45.4
a[href^="https://"] {
    color: red;
}
*/

/* #45.5
a[href$=".html"] {
    color: green;
}
*/

/* #45.6
p[title="Привет"] {
    color: purple;
}
*/

/* #45.7
p[class^="top-"] {
    color: red;
}
*/