/* Task 1
p {
    font-size: 20px;
    color: red;
    text-decoration: overline;
}
*/

/*
p {
    text-decoration: line-through;
    color: green;
}
*/

/*
p {
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial";
}
*/

/*
a {
    text-decoration: none;
    color: red;
}
*/