/* #55.1
#elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 30px;
}
*/

/* #55.2
#elem1 {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: mediumspringgreen;
}
*/

/* #55.3
#elem2 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid green;
}
*/