/* Task 1 */
/*
.parent	{
	display: flex;
    justify-content: center;
	align-items: center;
    margin: 20px auto;
	width: 900px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 60px;
	border: 1px solid green;
}
.elem {
	align-self: flex-end;
}*/

/* Task 1 */
/*
.parent	{
	display: flex;
    justify-content: center;
	align-items: stretch;
    margin: 20px auto;
	width: 900px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 100px;
	border: 1px solid green;
}
.elem {
	align-self: center;
}*/

/* Task 3 */
/*
.parent	{
	display: flex;
    flex-direction: column ;
    justify-content: center;
	align-items: flex-start;
    margin: 20px auto;
	width: 900px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 60px;
	border: 1px solid green;
}
.elem {
	align-self: center;
}*/