/* Task 1*/
/*
#elem {
	padding: 50px;
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}*/

/* Task 2*/
/*
#elem {
	padding: 20px;
	width: 500px;
	border: 1px solid green;
	text-align: justify;
}
#ppp {
    margin: 30px 50px;
	padding: 10px;
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}*/