/* Task 1*/
/*
.parent {
	width: auto;
	border: 1px solid black;
	text-align: justify;
    padding: 20px;
}
.child {
	float: left;
	width: 100px;
	height: 50px;
	border: 1px solid green;
    text-align: center;
    margin: 0 10px;
}
.clearfix {
	clear: both;
}*/

/* Task 2*/
/*
.parent {
	width: auto;
	border: 1px solid black;
	text-align: justify;
    padding: 20px;
}
.child {
	float: right;
	width: 100px;
	height: 50px;
	border: 1px solid green;
    text-align: center;
    margin: 0 10px;
}
.clearfix {
	clear: both;
}*/