/* Task 1*/
/*
p {
    border: 1px solid blue;
    width: 1000px;
    height: 1000px;
    display: inline;
}*/

/* Task 2*/
/*
a {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 30px;
}*/