/* Task 1*/
/*
.parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}*/

/* Task 2*/
/*
.parent {
    text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}*/

/* Task 3*/
/*
.parent {
    text-align: right;
	padding: 10px 0;
	border: 1px solid red;
    padding-right: 30px;
}*/