/* Task 1*/
/*
.parent {
	display: flex;
	margin: 20px auto;
	width: 900px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}*/

/* Task 2*/
/*
.parent {
	display: flex;
	width: 900px;
	border: 1px solid red;
	margin: 20px auto;
}
.child {
	width: 120px;
	height: 100px;
	border: 1px solid green;
}*/

/* Task 3*/
/*
.parent {
	display: flex;
	border: 1px solid red;
	margin: 20px auto;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}*/

/* Task 4*/
/*
.parent	{
	display: inline-flex;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}*/

/* Task 5 */
/*
.parent	{
	display: inline-flex;
	padding: 20px;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}*/

/* Task 6*/
/*
.parent	{
	display: inline-flex;
	border: 1px solid red;
}
.child {
	margin: 30px;
	width: 120px;
	height: 60px;
	border: 1px solid green;
}*/