/* Task 1*/
/*
#elem {
    padding: 10px 20px 30px 40px;
    border: 1px solid red;
    width: 300px;
    text-align: justify;
}*/

/*Task 2*/
/*
#elem {
    padding: 60px 30px;
    border: 1px solid red;
    width: 300px;
    text-align: justify;
}*/

/* Task 3*/
/*
#elem {
    padding: 10px 20px 40px;
    border: 1px solid red;
    width: 300px;
    text-align: justify;
}*/