/* Task 1*/
/*
#parent {
	width: 200px;
	border: 1px solid orange;
}
#child {
	margin: 25px 50px 100px 10px;
	
	height: 50px;
	border: 1px dashed blue;
}*/

/* Task 2*/
/*
#parent {
	width: 200px;
	border: 1px solid orange;
}
#child {
    margin: 100px 50px;
	
	height: 50px;
	border: 1px dashed blue;
}*/

/* Task 3*/
/*
#parent {
	width: 200px;
	border: 1px solid orange;
}
#child {
    margin: 25px 50px;
	
	height: 50px;
	border: 1px dashed blue;
}*/

/* Task 4*/
/*
#parent {
	width: 200px;
	border: 1px solid orange;
}
#child {
    margin: 100px 50px 30px;
	
	height: 50px;
	border: 1px dashed blue;
}*/

/* Task 5*/
/*
#parent {
	width: 400px;
	border: 1px solid orange;
}
#child {
    margin: 30px 100px 50px;
	
	height: 50px;
	border: 1px dashed blue;
}*/