/* Task 1*/
/*
#a {
	width: 400px;
	border: 1px dashed blue;
}

#b {
	height: 300px;
	border: 1px solid orange;
	margin: 50px;
}*/

/* Task 2*/
/*
#a {
	width: 400px;
	border: 1px dashed blue;
}

#b {
	height: 252px;
	border: 1px dashed green;
	margin: 25px;
}

#c {
    height: 200px;
	border: 1px solid red;
	margin: 25px;
}*/