div {
    text-align: justify;
    width: 600px;
    border: 1px solid black;
    padding: 20px;
}
#img1 {
    float: left;
    margin-right: 20px;
}
#img2 {
    float: right;
    margin: 20px 0px 0px 20px;
}