/* Task 1*/
/*
#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
    position: absolute;
    left: 50px;
    top: 50px;
}
#elem2 {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
    position: absolute;
    left: 120px;
    top: 120px;
}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
    position: absolute;
    left: 190px;
    top: 190px;
}*/

/* Task 2*/
/*
#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
    position: absolute;
    left: 50px;
    top: 50px;
}
#elem2 {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
    position: absolute;
    left: 120px;
    top: 50px;
}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
    position: absolute;
    left: 190px;
    top: 50px;
}*/

/* Task 3*/
/*
#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
    position: absolute;
    left: 50px;
    top: 50px;
}
#elem2 {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
    position: absolute;
    left: 80px;
    top: 80px;
}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
    position: absolute;
    left: 110px;
    top: 110px;
}*/

/* Task 4*/
/*
#elem1 {
	width: 50px;
	height: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: rgb(255,136,136);
}
#elem2 {
	width: 50px;
	height: 50px;
    position: absolute;
    left: 80px;
    top: 80px;
    background-color: rgb(126,137,235);
}
#elem3 {
	width: 50px;
	height: 50px;
    position: absolute;
    left: 110px;
    top: 110px;
    background-color: rgb(77,238,153);
}*/